canvas {
    left: 0;
    right: 0;
    width: 680px;
    height: 248px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}