canvas {
    position: aboslute;
    border: 3px dashed yellow;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

body {
    background-color: black;
}

img {
    position: absolute;
}